{% extends 'base.html' %}


{% block content %}
<div class="p-5 mb-4 rounded-3" >
    <div class="container-fluid py-5" style="padding: 100px; background-color: rgba(255, 255, 255, 0.911);">
<iframe width="600" height="400" style="margin-left: 0px;" src="https://www.youtube.com/embed/02R6pQ3P9f4?si=QXLsvRekuJrdSnfz" frameborder="0" allowfullscreen></iframe>
<p>Оно (англ. It), более известное как Пеннивайз — Танцующий клоун (англ. Pennywise the Dancing Clown) — главный антагонист одноимённого фильма 2017 года и его продолжения «Оно 2».

    Как и оригинальная версия романа, Оно — древнее сверхъестественное проклятие, которое принимает облик худших страхов жертв (особенно детей), прежде чем питаться ими. Терроризируя Землю на протяжении многих поколений, его царствование террора вскоре заканчивается в тот момент, когда Оно убивает Джорджи Денбро, став заклятым врагом его старшего брата Билла Денбро, который стремится отомстить за смерть Джорджи, убив его любой ценой с помощью своих друзей, что является причиной формирования Клуба неудачников.</p>
</div>
</div>
{% endblock %}